{% extends "auctions/layout.html" %}

{% block body %}

    <div class="d-flex">
        <h2>{{ message }}</h2>    
    
        <div>
            {% if message == "Active Listing" %}
                {% if selected_category %}
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{selected_category}}
                    </a>
                {% else %}
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        All Categories
                    </a>
                {% endif %}
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'index' %}">All categories</a></li>
                        {% for category in categories %}
                            <li><a class="dropdown-item" href="{% url 'category_page' category.id %}">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
            {% endif %}
        </div>
    </div>

    <div class="row d-flex flex-wrap justify-content-center ml-4 mr-4">

        {% for item in listing %}
            <div class="card m-2" style="width: 30vh; position: relative;">
                <img src="{{ item.image_url }}" class="card-img-top" alt="..." style=" height: 200px; overflow: hidden; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    {% if item.starting_bid == item.actual_bid %}
                    <p><b>Starting bid: </b>${{ item.starting_bid }}</p>
                    {% else %}
                    <p style="color:grey"><s>Starting bid: ${{ item.starting_bid }}</s></p> 
                    <p><b>Current bid: </b>${{ item.actual_bid }}</p>
                    {% endif %}
                    {% if message == 'My Actives listings' %}
                        <form action="{% url 'listing_page' id=item.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="close_bid" name="type_form">
                            <input type="submit" class="btn btn-danger" value="Close bid">
                        </form>
                    {% else %}
                        <a href="{% url 'listing_page' id=item.id %}" class="btn btn-primary">Make a bid</a>
                    {% endif %}
                </div>
                

                {% if user.is_authenticated and message != "My Actives listings"%}
                    <!-- Watchlist button -->
                    <form action="{% url 'listing_page' id=item.id %}" method="post">
                        {% csrf_token %}

                        {% if message == "Watchlist" %}
                            <input type="hidden" value="from_watchlist" name="from">
                        {% else %}
                            <input type="hidden" value="from_index" name="from">
                        {% endif %}
                        {% if item in watchlist %}
                            <!-- Remove from watchlist -->
                            <input type="hidden" value="remove_watchlist" name="type_form">
                            <button class="btn btn-outline-warning mt-3" type="submit" value="Remove from watchlist" style="position: absolute; top: -7px; right: 5px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                    <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                                    <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                                    <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                                </svg>
                            </button>
                        {% else %}  
                            <!-- Add to watchlist -->
                            <input type="hidden" value="add_watchlist" name="type_form">
                            <button class="btn btn-outline-info mt-3" type="submit" value="Add to watchlist" style="position: absolute; top: -7px; right: 5px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                </svg>
                            </button>
                        {%  endif %}
                    </form>
                {% endif %}

            </div>
        {% endfor %}

        {% if not listing %}
            <p>No items in this category</p>
        {% endif %}

    </div>
{% endblock %}