{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="d-flex">
        {% for item in listing %}
            <div class="card m-2" style="width: 18rem;">
                <img src="{{ item.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ item.title }}</h5>
                  <p class="card-text">{{ item.description }}</p>
                  {% if item.starting_bid == item.actual_bid %}
                  <p><b>Starting bid: </b>${{ item.starting_bid }}</p>
                  {% else %}
                  <p><s>${{ item.starting_bid }}</s></p> 
                  <p><b>Current bid: </b>${{ item.actual_bid }}</p>
                  {% endif %}
                  <a href="{% url 'listing_page' id=item.id %}" class="btn btn-primary">TODO: Bottons</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}