{% extends "auctions/layout.html" %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'category_page' listing.category.id %}">{{ listing.category }}</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'listing_page' id=listing.id %}">{{ listing }}</a></li>
        </ol>
    </nav>

    <div class="d-flex row justify-content-center" >
        
        <div class="w-75">
            {% if user.id == listing.winner.id and listing.active == True %}
                <div class="alert alert-success" role="alert">
                    You are winning the bid
                </div>
            {% elif user.id == listing.winner.id and  listing.active == False %}
                <div class="alert alert-success" role="alert">
                    You the winner!!!
                </div>
            {% endif %}
            {% if listing.active == False %}
                <div class="alert alert-warning" role="alert">
                    Closed auction
                </div>
            {% endif %}
        </div>

        <div class="card mb-3 w-75">
            <div class="row g-0" >
                <div class="col-md-7" >
                    <div class="card-body">

                        <h5 class="card-title">{{ listing.title }}</h5>
                        <p class="card-text">{{ listing.description }}</p>

                        {% if listing.starting_bid == listing.actual_bid %}
                            <p><b>Starting bid: </b>${{ listing.starting_bid }}</p>
                        {% else %}
                            <p style="color:grey"><s>Starting bid: ${{ listing.starting_bid }}</s></p> 
                            <p><b>Current bid: </b>${{ listing.actual_bid }}</p>
                        {% endif %}

                        {% if listing.active == True %}
                            {% if user.is_authenticated %}
                                {% if user.id == listing.owner.id%}

                                    <!-- OWNER -->
                                    <!-- Close Bid -->
                                    <form action="{% url 'listing_page' id=listing.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="close_bid" name="type_form">
                                        <input type="submit" class="btn btn-danger" value="Close bid">
                                    </form>

                                {% else %}
                                    
                                    <!-- NOT Owner -->
                                    <form action="{% url 'listing_page' id=listing.id %}" method="post">
                                        <!-- New Bid -->
                                        {% csrf_token %}
                                        <input type="hidden" value="new_bid" name="type_form">
                                        <input class="" type="number" value="" min="{{ listing.actual_bid }}" name="new_bid"> 
                                        <input type="submit" value="make bid">
                                    </form>

                                    <form action="{% url 'listing_page' id=listing.id %}" method="post">
                                        {% csrf_token %}

                                        <input type="hidden" value="from_listing_page" name="from">
                                        
                                        {% if is_in_watchlist %}
                                            <!-- Remove from watchlist -->
                                            <input type="hidden" value="remove_watchlist" name="type_form">
                                            <button class="btn btn-warning mt-3" type="submit" value="Remove from watchlist">
                                                Remove from watchlist
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                                    <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                                                    <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                                                    <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                                                </svg>
                                            </button>
                                        {% else %}  
                                            <!-- Add to watchlist -->
                                            <input type="hidden" value="add_watchlist" name="type_form">
                                            <button class="btn btn-info mt-3" type="submit" value="Add to watchlist">
                                                Add to watchlist
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                                </svg>
                                            </button>
                                        {%  endif %}
                                    </form>

                                {% endif %}
                            {% endif %}   
                        {% endif %}

                    </div>
                </div>

                <div class="col-md-5 d-flex justify-content-center">
                    <img src="{{ listing.image_url }}" class="img-fluid rounded-start" alt="{{ listing.title }}" style=" max-height: 50vh; overflow: hidden; object-fit: contain;">
                </div>

            </div>
        </div>

        <div class="w-75 p-3">
            <div class="">
                {% for comment in comments %}
                    <p>{{ comment.commenter }}: {{ comment.comment }}</p>
                {% endfor %}
                {% if user.is_authenticated %}
                    <form action="{% url 'listing_page' id=listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="new_comment" name="type_form">
                        <input class="" type="text" placeholder="Comment..." name="new_comment"> 
                        <input type="submit" value="Comment.">
                    </form>
                {% endif %}
            </div>
        </div>

    </div>



{% endblock %}