{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if user.id == listing.owner.id %}
        <form action="">
            <input type="submit" class="btn btn-danger" value="Close bid">
        </form>
    {% endif %}

    {% if user.id == listing.winner.id and listing.active == True %}
        <div class="alert alert-success" role="alert">
            You are winning the bid
        </div>
    {% elif user.id == listing.winner.id and  listing.active == False%}
        <div class="alert alert-success" role="alert">
            You are winning the bid
        </div>
    {% endif %}

    <div class="d-flex">
        <div class="card m-2" style="width: 18rem;">
            <img src="{{ listing.image_url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}</p>
                {% if listing.starting_bid == listing.actual_bid %}
                <p><b>Starting bid: </b>${{ listing.starting_bid }}</p>
                {% else %}
                <p><s>${{ listing.starting_bid }}</s></p> 
                <p><b>Current bid: </b>${{ listing.actual_bid }}</p>
                {% endif %}
            </div>
            </div>
    </div>

    {% if user.is_authenticated%}
    <form action="">
        <input class="btn btn-secondary" type="button" value="Add to watchlist">
    </form>
    <form action="{% url 'listing_page' id=listing.id %}" method="post">
        <!-- Validate all the inputs in server -->
        {% csrf_token %}
        <input type="hidden" value="new_bid" name="type_form">
        <input class="" type="number" value="" min="{{ listing.actual_bid }}" name="new_bid"> 
        <input type="submit" value="make bid">
    </form>
    <form action="{% url 'listing_page' id=listing.id %}" method="post">
        {% csrf_token %}
        <label for="">Comment: </label>
        <input type="hidden" value="new_comment" name="type_form">
        <input class="" type="text" placeholder="Comment..." name="new_comment"> 
        <input type="submit" value="Comment.">
    </form>
    {% endif %}   

    {% for comment in comments %}
        <p>{{ comment.commenter }}: {{ comment.comment }}</p>
    {% endfor %}

{% endblock %}