{% extends "item_track/layout.html" %}
{% load static %}

{% block body %}

    {% block main %}

        <div class="d-flex justify-content-center">
        <div class="w-75" style="max-width: 1200px;">
                <h1 class="mb-4 mt-2">Front Desk</h1>
        
                <table class="table table-striped custome-table shadow">
                    <thead>
                        <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        </tr>
                    </thead>
        
                    <tbody>
                    {% for consult in consults %}
                        <div>
                            <tr id="row-{{ consult.id }}">
                                <td>
                                    <div class="d-flex flex-column justify-content-between">
                                    <span class="m-1">{{ consult.name }}</span>
                                    {% if consult.description %}
                                    <span class="m-1">[{{ consult.description }}]</span>
                                    {% endif %}
                                    <div>
                                        <button onclick="check_consult('{{ csrf_token }}','{{ consult.id }}')" type="submit" class="btn btn-outline-info btn-sm m-1">Check</button>
                                    </div>
                                </td>
                                <td colspan="2" class="custom-table">
                                    <table class="table">
                                        <tbody>
                                            {% for element in consult.movements.all %}
                                                <tr id="row-{{ element.id }}" class="selectable-row" 
                                                    data-id="{{ element.id }}"
                                                    onclick="clickrow(event, '{{ element.id }}', '{{ consult.id }}')">
                                                    <td class="w-75">
                                                        <!-- Show Element -->
                                                        {{element.show}}
        
                                                    </td class="w-25">
                                                    <td>${{ element.total }}</td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td>
                                                    <div class="d-flex">
                                                        <!-- Trigger Modal Add -->
                                                        <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16"
                                                        class="bi bi-plus-circle mr-3"
                                                        style="cursor: pointer" 
                                                        onclick="addRow(this, '{{ consult.id }}', '{{ csrf_token }}')">
                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                                        </svg>
                                                        
                                                        <!-- Trigger Modal Delete -->
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16"
                                                        id="delete-{{ consult.id }}"
                                                        style="cursor: pointer; display: none; color: red;"
                                                        onclick="deleteRow(this, '{{ consult.id }}', '{{ csrf_token }}')">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                                        </svg>
                                                    </div>
                                                </td>
                                                <td><b>Total: <span id="total-{{ consult.id }}">${{ consult.total }}</span></b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
                
                <!-- Modal Add -->
                <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Item</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Form -->
                            <form>
                
                                <div class="vet-form-item">

                                    <!-- Inputs -->

                                    <div class="pb-2 d-flex">
                                        <div class="form-floating w-25 pr-2">
                                            <input type="email" class="form-control" id="addBarcode" placeholder="name@example.com" autofocus>
                                            <label for="floatingInput">CodeBar:</label>
                                        </div>
                    
                                        <div class="form-floating flex-grow-1">
                                            <input class="form-control" list="datalistOptions" id="addItem" required>
                                            <datalist class="" id="datalistOptions">
                                                {% for item in items %}
                                                <option 
                                                    value="{{ item }}" 
                                                    data-item_id="{{ item.id }}" 
                                                    data-price="{{ item.price }}" 
                                                    data-stock="{{ item.stock }}"
                                                    data-stock_min="{{ item.stock_min }}"
                                                    data-barcode="{{ item.barcode }}">{{ item }}</option>
                                                {% endfor %}
                                            </datalist>
                                            <label for="floatingSelectGrid">Item:</label>
                                        </div>
                                    </div>

                                    <input type="hidden" id="item_id">

                                    <div class="w-50 mb-2">
                                        <label for="addPrice">Price:</label>
                                        <div class="input-group">
                                            <span class="input-group-text">$</span>
                                            <input type="text" class="form-control" id="addPrice" disabled>
                                        </div>
                                    </div>
                                        
                                    <div class="w-25 mb-3">
                                        <label for="addAmount">Amount</label>
                                        <input class="form-control amount" type="number" id="addAmount" name="amount" value="1" min="1" required>
                                    </div>
                                    
                                    <!-- Buttons -->
                                    <button class="btn btn-secondary mb-2" type="button" data-toggle="collapse" data-target="#observationCollapse" aria-expanded="false" aria-controls="observationCollapse">Observation</button>
                                    
                                </div>
                    
                                <!-- Observation input -->
                                <div class="collapse" id="observationCollapse">
                                    <input type="text" class="form-control" id="addObservation" name="observaciones" placeholder="Observations...">
                                </div>
                    
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button id="confirmAddBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Add +</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>


    {% endblock %}

{% endblock %}

{% block script %}
    <script src="{% static 'item_track/front_desk.js' %}"></script>
{% endblock %}
