{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Capstone{% endblock %}</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'item_track/styles.css' %}" rel="stylesheet">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        
        <!-- NavBar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">Capstone</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">Front Desk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vet' %}">Vet</a>
                </li>
              </ul>
            </div>
          </nav>
        
        <!-- Body -->
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>