{% extends "item_track/layout.html" %}
{% load static %}

{% block body %}

    {% block head %}
    
    <div class="d-flex justify-content-center" >
    <div class="w-75" style="max-width: 400px;">
        <h1 class="mt-3">Manage Items</h1>
        <!-- Form -->
        <form>
    
            <div class="vet-form-item mt-5">
    
                <!-- Inputs -->
                <div class="pb-4 d-flex">
                    <div class="form-floating w-25 pr-2">
                        <input type="email" class="form-control" id="addBarcode" placeholder="name@example.com" autofocus>
                        <label for="floatingInput">CodeBar:</label>
                    </div>

                    <div class="form-floating flex-grow-1">
                        <input class="form-control" list="datalistOptions" id="addItem" required>
                        <datalist class="" id="datalistOptions">
                            {% for item in items %}
                            <option value="{{ item }}" data-item_id="{{ item.id }}" data-price="{{ item.price }}" data-barcode="{{ item.barcode }}">{{ item }}</option>
                            {% endfor %}
                        </datalist>
                        <label for="floatingSelectGrid">Item:</label>
                    </div>
                </div>

                
                <div class="w-50 mb-3 mr-4">
                    <label for="addPrice">Price:</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" id="addPrice" required>
                        </div>
                    <input type="hidden" id="item_id">
                </div>

                <div class="w-25 mb-3">
                    <label for="addAmount">Add Amount</label>
                    <input class="form-control amount" type="number" id="addAmount" name="amount" value="0" min="0" required>
                </div>
                

                
            </div>
    
            <button id="saveChange" type="button" class="btn btn-primary" onclick="saveChanges('{{ csrf_token }}')">Update</button>
            <button id="cancelChange" type="button" class="btn btn-secondary" onclick="cancelChanges()">Cancel</button>
    
        </form>
    </div>
    </div>


    {% endblock %}

{% endblock %}

{% block script %}
    <script src="{% static 'item_track/manage.js' %}"></script>
{% endblock %}
