{% extends "item_track/layout.html" %}
{% load static %}

{% block body %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


    <div class="d-flex justify-content-center">
        <div class="mb-3 vet-form w-50">
            <h2 class="mb-3">Vet</h2>
            <form>
                
                <!-- Tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Shop</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Treatments</a>
                    </li>
                </ul>
                <br>

                <div class="vet-form-item">

                    <!-- Inputs -->
                    <div class="d-flex pb-2">
                        <input class="form-control mr-2" list="datalistOptions" id="item" placeholder="Type to search..." required>
                        <datalist id="datalistOptions">
                            {% for item in items %}
                            <option value="{{ item }}" data-item_id="{{ item.id }}" data-price="{{ item.price }}"></option>
                            {% endfor %}
                        </datalist>
                        <input class="form-control amount w-25" type="number" id="amount" name="amount" placeholder="Amount" value="1" min="1" required>
                    </div>
                    <input type="hidden" id="item_id">
                    <input class="form-control w-25 price mb-2" type="number" id="price" name="price" min="0" placeholder="$Price..." required>
                    
                    <!-- Buttons -->
                    <div class="d-flex justify-content-between">
                        <button type="button" value="Add" class="btn btn-primary" onclick="addRow()">Add +</button>
                        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#observationCollapse" aria-expanded="false" aria-controls="observationCollapse">
                            Observation
                        </button>
                    </div>
                </div>
    
                <!-- Observation input -->
                <div class="collapse" id="observationCollapse">
                    <div class="form-group">
                        <label for="observationInput">Observation:</label>
                        <input type="text" class="form-control" id="observationInput" name="observaciones" placeholder="Observations...">
                    </div>
                </div>
    
    
            </form>
        </div>
    </div>

    <!-- Tables -->
    <!-- Ajustar tablas para que no se mueva cuando hay un texto grande -->

    <div class="p-5">
        <table class="table table-striped" id="table">
            <thead>
                <tr>
                <th scope="col">Amount</th>
                <th scope="col">Item/Trearment</th>
                <th scope="col">Observation</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <!-- Existing rows will be dynamically added here -->
            </tbody>
        </table>
        <button
        class="btn btn-success" data-bs-toggle="modal" data-bs-target="#sendModal">Send
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
        </svg>
        </button>
    </div>

    <!-- Send Modal -->
    <div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="sendModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sendModalLabel">Send Info</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form onSubmit="send('{{ csrf_token }}')">
                        <div class="form-group">
                            <label for="sendClientName">Client name:</label>
                            <input type="text" class="form-control" id="ClientName" required>
                        </div>
                        <div class="form-group">
                            <label for="sendClientObservation">Observation:</label>
                            <input type="text" class="form-control" id="ClientObservation">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success" id="saveChangesSendBtn">
                                Send
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Row</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                <div class="form-group">
                    <label for="editAmount">Amount:</label>
                    <input type="number" class="form-control" id="editAmount" min="1" required>
                </div>
                <div class="form-group">
                    <label for="editItem">Item:</label>
                    <input type="text" class="form-control" id="editItem" disabled>
                </div>
                <div class="form-group">
                    <label for="editObservation">Observation:</label>
                    <input type="text" class="form-control" id="editObservation">
                </div>
                <div class="form-group">
                    <label for="editPrice">Price:</label>
                    <input type="number" class="form-control" id="editPrice" min="0" required>
                </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="saveChangesEditBtn">Save Changes</button>
            </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block script %}
    <script src="{% static 'item_track/vet.js' %}"></script>
{% endblock %}