{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div class="d-flex justify-content-center">
    <div class="mt-3 mb-3 rounded shadow" style="width: 80%; max-width: 55rem; background-color:rgb(223, 223, 223);">

        <div class="d-flex justify-content-center">
            <div>
                <!-- Posts -->
                <div class="d-flex flex-wrap justify-content-center p-2">
                    
                    {% for post in posts %}
                    
                        {% block post %}
                        
                            {% include "network/post.html" %}
                        
                        {% endblock %}
                    
                    {% endfor %}
                    
                </div>
        
                <!-- Pagination -->
                {% include "network/pagination.html" %}
        
            </div>
        </div>
    
    </div>
</div>



{% endblock %}


