{% extends "network/layout.html" %}

{% block body %}

    <h2>New post</h2>
    <form action="{% url 'new_post' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="new-post">Title</label>
            <input class="form-control" type="text" name="title" placeholder="Title" required>
            <label for="new-post">Content</label>
            <textarea class="form-control" name="content" rows="3" placeholder="Content" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}