{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div class="d-flex justify-content-center">
<div class="mt-3 mb-3 rounded shadow" style="width: 80%; max-width: 55rem; background-color:rgb(223, 223, 223);">

    <!-- Profile -->
    <div class="d-flex justify-content-center">
        <div class="w-75" style="width: 95%; max-width: 50rem;">
            <div class="d-flex mt-3 justify-content-around align-items-center flex-wrap shadow rounded" style="height: 20vh; background-color: white;">
                
                <h1>{{ profile }}</h1>
                
                <div class="d-flex pl-5">
                    <div class="d-flex flex-column align-items-center pr-3">
                        <p id="followers" style="height: 5px;">{{ profile.count_followers }}</p>
                        <p>Followers</p> 
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <p id="folowing" style="height: 5px;">{{ profile.count_following }}</p>
                        <p>Following</p>
                    </div>

                    <div class="d-flex justify-content-center align-items-center pl-3">
                        <div>
                            <!-- Follow btn -->
                            {% if user and user != profile%}
                                {% if is_following %}
                                    <button 
                                        id="unfollow" 
                                        onclick="followOrUnfollow('unfollow','{{ user.id }}','{{ profile.id }}', '{{ profile.username }}')"
                                        class="btn btn-secondary"
                                        style="display: block;"
                                    > Unfollow </button>
                                    <button 
                                        id="follow" 
                                        onclick="followOrUnfollow('follow','{{ user.id }}','{{ profile.id }}', '{{ profile.username }}')"
                                        class="btn btn-primary"
                                        style="display: none;"    
                                    >Follow </button>
                                {% else %}
                                    <button 
                                        id="follow" 
                                        onclick="followOrUnfollow('follow','{{ user.id }}','{{ profile.id }}', '{{ profile.username }}')"
                                        class="btn btn-primary"
                                        style="display: block;"    
                                    >Follow </button>
                                    <button 
                                        id="unfollow" 
                                        onclick="followOrUnfollow('unfollow','{{ user.id }}','{{ profile.id }}', '{{ profile.username }}')"
                                        class="btn btn-secondary"
                                        style="display: none;"
                                    > Unfollow </button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Posts -->
    <div class="d-flex flex-wrap justify-content-center p-2">
        {% for post in posts %}
            {% block post %}
                {% include "network/post.html" %}
            {% endblock %}
        {% endfor %}
    </div>

    <!-- Pagination -->
    {% include "network/pagination.html" %}

</div>
</div>  

{% endblock %}

{% block script %}
    <script src="{% static 'network/follow.js' %}"></script>
    <script src="{% static 'network/post_action.js' %}"></script>
{% endblock %}