{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <!-- Profile -->
    <div>
        <h1>{{ profile.username }}</h1>
        <p>{{ profile.email }}</p>
        <p>{{ profile.date_joined }}</p>
        <p>Followers: <span id="followers">{{ profile.count_followers }}</span></p>
        <p>Following: <span id="folowing">{{ profile.count_following }}</span></p>
        {% if user and user != profile%}
            {% if is_following %}
                <button 
                    id="unfollow" 
                    onclick="followOrUnfollow('unfollow','{{ user.id }}','{{ profile.id }}', '{{ profile.username }}')"
                    style="display: block;"
                > Unfollow </button>
                <button 
                    id="follow" 
                    onclick="followOrUnfollow('follow','{{ user.id }}','{{ profile.id }}', '{{ profile.username }}')"
                    style="display: none;"    
                >Follow </button>
            {% else %}
                <button 
                    id="follow" 
                    onclick="followOrUnfollow('follow','{{ user.id }}','{{ profile.id }}', '{{ profile.username }}')"
                    style="display: block;"    
                >Follow </button>
                <button 
                    id="unfollow" 
                    onclick="followOrUnfollow('unfollow','{{ user.id }}','{{ profile.id }}', '{{ profile.username }}')"
                    style="display: none;"
                > Unfollow </button>
            {% endif %}
        {% endif %}
    </div>

    <!-- Posts -->
    <div class="d-flex flex-wrap justify-content-center p-2">
        {% for post in posts %}
            {% block post %}
                {% include "network/post.html" %}
            {% endblock %}
        {% endfor %}
    </div>

    <!-- Pagination -->
    {% include "network/pagination.html" %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/follow.js' %}"></script>
    <script src="{% static 'network/post_action.js' %}"></script>
{% endblock %}